@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-dark-50:  #e3e1e2;
    --color-dark-100:  #090909;

    --color-purple-50:  #7460f2;
    --color-purple-100:  #9080F2;
    --color-purple-200:  #3238A6;

    --color-blue-100:  #BBE2F2;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 241, 218);
    font-family: 'Poppins', sans-serif;;
    font-size: 15px;
}

section{
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.392);
}

#img{
    background: url('../img/img.png') center center black;
    background-size: contain;
}

#form-box{
    background-color: white;
    padding: 20px 35px;
}

#form-box > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#form-box div h1{
    font-size: 30px;
    position: relative;
}

#form-box div h1::before{
    content: '';
    position: absolute;
    background-color: var(--color-purple-50);
    width: 26%;
    height: 3px;
    bottom: 8px;
}

#form-box div button{
    width: 70px;
    height: 35px;
    background-color: var(--color-purple-200);
    color: white;
    border: none;
    border-radius: 5px;
}

#form-box div button:hover{
    transition: 0.3s;
    background-color:var(--color-purple-50);
}

.column1{grid-area: column1;}

.column2{grid-area: column2;}

.row{grid-area: row;}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "column1 column2"
    "row row"
}

form div{grid-template-columns: 1fr;}

form div.column div{ margin-bottom: 25px;}

form div.column input{
    height: 28px;
    width: 200px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(4, 4, 4, 0.174);
}

form div#div-gender label{
    margin-right: 25px;
}